In [ ]:
import pandas as pd

In [ ]:
path = "/content/drive/MyDrive/Tacademy ASAC/EDA Project/finishedData/final/식품db.xlsx"

In [ ]:
data = pd.read_excel(path,sheet_name="시트1")
data

,식품명,철,칼륨,에너지,칼슘,비타민a,엽산,비타민c,단백질,지방,탄수화물,당,인,나트륨,티아민,리보플라빈,니아신
0,삼계탕/닭곰탕,3.86,1406.480000,911.390000,123.290000,76.13,60.96,0.000000,96.09,43.190000,34.57,0.000,942.100000,736.670000,4.070000,0.750000,0.000000
1,후추,12.97,1366.000000,362.000000,391.000000,31.00,15.00,0.000000,12.87,5.000000,66.33,0.650,151.000000,6.000000,0.136000,0.094000,0.404000
2,스파게티,3.05,1094.450000,642.580000,214.540000,23.44,72.00,0.170000,24.35,19.150000,93.20,2.600,373.190000,1508.630000,0.870000,0.330000,9.360000
3,감자튀김,1.55,985.330000,467.750000,19.540000,0.00,29.21,1.790000,6.82,25.510000,52.72,0.000,184.980000,117.110000,0.000000,0.260000,0.000000
4,닭튀김/강정,2.18,947.200000,903.000000,39.800000,29.15,49.23,16.880000,65.20,49.700000,48.80,0.000,748.080000,1244.480000,0.380000,0.580000,13.710000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,젤리,0.18,8.000000,344.000000,6.000000,0.00,1.00,0.160000,7.50,0.420000,77.53,50.000,2.000000,5.000000,0.000000,0.000000,0.000000
121,탄산음료,0.04,4.545455,36.090909,2.909091,0.00,0.00,3.791818,0.01,0.011818,9.03,7.691,3.727273,6.090909,0.026909,0.040182,0.046091
122,김구이,4.50,0.000000,19.000000,490.000000,336.00,0.00,34.000000,3.30,0.400000,0.00,0.000,474.000000,0.000000,0.080000,0.380000,0.400000
123,골뱅이,2.60,0.000000,76.000000,46.000000,0.00,0.00,0.000000,17.40,0.100000,0.30,0.000,15.000000,0.000000,0.030000,0.120000,2.300000
124,소주,0.00,0.000000,127.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.08,0.000,0.000000,4.000000,0.000000,0.000000,0.000000

In [ ]:
path = "/content/drive/MyDrive/Tacademy ASAC/EDA Project/finishedData/data_20s_unique.csv"

In [ ]:
data = pd.read_csv(path)
data.drop(columns = "Unnamed: 0",inplace=True)

In [ ]:
data

,순위_x,19-29 음식,19-29 비율(%)_x,19-29 표준오차(%)_x,이상값_x,순위_y,19-29 비율(%)_y,19-29 표준오차(%)_y,이상값_y,남자-여자 순위 차이,abs(남자-여자 순위 차이)
0,35.0,닭고기,5.22,1.59,False,NaN,NaN,NaN,NaN,NaN,NaN
1,39.0,짜장면,4.63,1.48,False,NaN,NaN,NaN,NaN,NaN,NaN
2,49.0,분유,4.17,1.33,False,NaN,NaN,NaN,NaN,NaN,NaN
3,50.0,춘장,4.02,1.74,False,NaN,NaN,NaN,NaN,NaN,NaN
4,55.0,탕수육,3.83,1.30,False,NaN,NaN,NaN,NaN,NaN,NaN
5,59.0,마요네즈,3.59,1.30,False,NaN,NaN,NaN,NaN,NaN,NaN
6,63.0,"갈비구이, 돼지",3.20,1.33,False,NaN,NaN,NaN,NaN,NaN,NaN
7,65.0,순대국,3.18,1.19,False,NaN,NaN,NaN,NaN,NaN,NaN
8,66.0,모밀국수,3.13,1.40,False,NaN,NaN,NaN,NaN,NaN,NaN
9,67.0,햄구이,3.11,1.25,False,NaN,NaN,NaN,NaN,NaN,NaN
10,68.0,복숭아,3.06,1.26,False,NaN,NaN,NaN,NaN,NaN,NaN
11,71.0,족발,2.92,1.08,False,NaN,NaN,NaN,NaN,NaN,NaN
12,75.0,돼지고기구이,2.73,0.87,False,NaN,NaN,NaN,NaN,NaN,NaN
13,79.0,파김치,2.54,1.14,False,NaN,NaN,NaN,NaN,NaN,NaN
14,80.0,완자전,2.51,1.03,False,NaN,NaN,NaN,NaN,NaN,NaN
15,81.0,덮밥,2.43,0.96,False,NaN,NaN,NaN,NaN,NaN,NaN
16,82.0,물냉면,2.33,0.90,False,NaN,NaN,NaN,NaN,NaN,NaN
17,83.0,후추,2.22,0.99,False,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,홍차,NaN,NaN,NaN,48.0,4.34,1.46,False,NaN,NaN
19,NaN,도우넛,NaN,NaN,NaN,57.0,3.50,1.38,False,NaN,NaN
20,NaN,"오렌지, 주스",NaN,NaN,NaN,59.0,3.43,0.92,False,NaN,NaN
21,NaN,페이스트리,NaN,NaN,NaN,61.0,3.33,1.36,False,NaN,NaN
22,NaN,포도,NaN,NaN,NaN,63.0,3.13,1.34,False,NaN,NaN
23,NaN,어묵,NaN,NaN,NaN,66.0,2.93,1.30,False,NaN,NaN
24,NaN,총각김치,NaN,NaN,NaN,67.0,2.92,1.00,False,NaN,NaN
25,NaN,오징어채볶음,NaN,NaN,NaN,71.0,2.81,1.13,False,NaN,NaN
26,NaN,쨈,NaN,NaN,NaN,72.0,2.81,1.17,False,NaN,NaN
27,NaN,청국장찌개,NaN,NaN,NaN,74.0,2.73,1.23,False,NaN,NaN
28,NaN,현미밥,NaN,NaN,NaN,75.0,2.73,0.94,False,NaN,NaN
29,NaN,핫소스,NaN,NaN,NaN,76.0,2.68,1.29,False,NaN,NaN
30,NaN,초밥,NaN,NaN,NaN,77.0,2.62,1.09,False,NaN,NaN
31,NaN,짬뽕,NaN,NaN,NaN,78.0,2.61,1.20,False,NaN,NaN
32,NaN,어묵국,NaN,NaN,NaN,79.0,2.61,0.98,False,NaN,NaN
33,NaN,칼국수,NaN,NaN,NaN,80.0,2.55,0.91,False,NaN,NaN
34,NaN,떡,NaN,NaN,NaN,82.0,2.52,1.10,False,NaN,NaN
35,NaN,무말랭이무침,NaN,NaN,NaN,83.0,2.48,0.75,False,NaN,NaN

In [ ]:
m_unique = data.iloc[:18,:]
f_unique = data.iloc[18:,:]

In [ ]:
f_unique.drop(columns=["순위_x","19-29 비율(%)_x","19-29 표준오차(%)_x","이상값_x","남자-여자 순위 차이","abs(남자-여자 순위 차이)"],inplace=True)

<ipython-input-23-401bb772a67e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_unique.drop(columns=["순위_x","19-29 비율(%)_x","19-29 표준오차(%)_x","이상값_x","남자-여자 순위 차이","abs(남자-여자 순위 차이)"],inplace=True)

In [ ]:
m_unique.drop(columns=["순위_y","19-29 비율(%)_y","19-29 표준오차(%)_y","이상값_y","남자-여자 순위 차이","abs(남자-여자 순위 차이)"],inplace=True)

<ipython-input-24-b059cb30b250>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_unique.drop(columns=["순위_y","19-29 비율(%)_y","19-29 표준오차(%)_y","이상값_y","남자-여자 순위 차이","abs(남자-여자 순위 차이)"],inplace=True)

In [ ]:
m_unique

    순위_x  19-29 음식  19-29 비율(%)_x  19-29 표준오차(%)_x  이상값_x
0   35.0       닭고기           5.22             1.59  False
1   39.0       짜장면           4.63             1.48  False
2   49.0        분유           4.17             1.33  False
3   50.0        춘장           4.02             1.74  False
4   55.0       탕수육           3.83             1.30  False
5   59.0      마요네즈           3.59             1.30  False
6   63.0  갈비구이, 돼지           3.20             1.33  False
7   65.0       순대국           3.18             1.19  False
8   66.0      모밀국수           3.13             1.40  False
9   67.0       햄구이           3.11             1.25  False
10  68.0       복숭아           3.06             1.26  False
11  71.0        족발           2.92             1.08  False
12  75.0    돼지고기구이           2.73             0.87  False
13  79.0       파김치           2.54             1.14  False
14  80.0       완자전           2.51             1.03  False
15  81.0        덮밥           2.43             0.96  False
16  82.0       물냉면           2.33             0.90  False
17  83.0        후추           2.22             0.99  False

In [ ]:
f_unique

   19-29 음식  순위_y  19-29 비율(%)_y  19-29 표준오차(%)_y  이상값_y
18       홍차  48.0           4.34             1.46  False
19      도우넛  57.0           3.50             1.38  False
20  오렌지, 주스  59.0           3.43             0.92  False
21    페이스트리  61.0           3.33             1.36  False
22       포도  63.0           3.13             1.34  False
23       어묵  66.0           2.93             1.30  False
24     총각김치  67.0           2.92             1.00  False
25   오징어채볶음  71.0           2.81             1.13  False
26        쨈  72.0           2.81             1.17  False
27    청국장찌개  74.0           2.73             1.23  False
28      현미밥  75.0           2.73             0.94  False
29      핫소스  76.0           2.68             1.29  False
30       초밥  77.0           2.62             1.09  False
31       짬뽕  78.0           2.61             1.20  False
32      어묵국  79.0           2.61             0.98  False
33      칼국수  80.0           2.55             0.91  False
34        떡  82.0           2.52             1.10  False
35   무말랭이무침  83.0           2.48             0.75  False

In [ ]:
inf = float("inf")
tmp = f_unique.iloc[:,0].to_frame()
tmp["남성 순위"] = [0]*len(f_unique)
tmp["여성 순위"] = f_unique.iloc[:,1]
tmp["남자-여자 순위 차이"] = [100]*len(f_unique)
tmp["abs(남자-여자 순위 차이)"] = [100]*len(f_unique)
tmp["선호 성별"] = ["여"]*len(f_unique)

In [ ]:
inf = float("inf")
tmp1 = f_unique.iloc[:,0].to_frame()
tmp1["남성 순위"] = m_unique.iloc[:,1]
tmp1["여성 순위"] = [0]*len(f_unique)
tmp1["남자-여자 순위 차이"] = [100]*len(f_unique)
tmp1["abs(남자-여자 순위 차이)"] = [100]*len(f_unique)
tmp1["선호 성별"] = ["남"]*len(f_unique)

In [ ]:
tmp.rename(columns={"19-29 음식":"음식"},inplace=True)
tmp1.rename(columns={"19-29 음식":"음식"},inplace=True)

In [ ]:
f_unique = tmp
m_unique = tmp1

In [ ]:
f_prefer_path = "/content/drive/MyDrive/Tacademy ASAC/EDA Project/finishedData/final/female20_prefer.csv"
m_prefer_path = "/content/drive/MyDrive/Tacademy ASAC/EDA Project/finishedData/final/male20_prefer.csv"

In [ ]:
f_prefer = pd.read_csv(f_prefer_path)
m_prefer = pd.read_csv(m_prefer_path)

In [ ]:
f_prefer.drop(columns="Unnamed: 0",inplace=True)
m_prefer.drop(columns="Unnamed: 0",inplace=True)

In [ ]:
f_result = pd.concat([f_unique,f_prefer])
f_result.reset_index(drop=True,inplace=True)

In [ ]:
m_result = pd.concat([m_unique,m_prefer])
m_result.reset_index(drop=True,inplace=True)

In [ ]:
m_result.to_csv("/content/drive/MyDrive/Tacademy ASAC/EDA Project/finishedData/final/m20_final.csv")
f_result.to_csv("/content/drive/MyDrive/Tacademy ASAC/EDA Project/finishedData/final/f20_final.csv")

In [ ]:
# m_unique.to_csv("/content/drive/MyDrive/Tacademy ASAC/EDA Project/finishedData/final/m20_unique.csv")
# f_unique.to_csv("/content/drive/MyDrive/Tacademy ASAC/EDA Project/finishedData/final/f20_unique.csv")